<app-navheader></app-navheader>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  
    <div class="intro mt-0" >
      <h1>Welcome Rubixian's</h1>
      <p> Let's get start with meet</p>
      <button  routerLink="/help">Learn More</button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Projects</p>
        <p class="work-text">We worked in lot of projects. We make this idea to make a space for the people who needs to make some information confidential</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Skills</p>
        <p class="work-text">We never tired of coding, we love to make coding. Day by day our coding skills are developing</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Network</p>
        <p class="work-text">We are the network, we have all the things that you need. We are going with different idea's to make new website</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Us</h2>
        <p>From a small business meeting to a conference with a stage. We have a space to fit your needs. All of our meeting and conference spaces are equipped with state-of-the-art audio visual technology supported by on-hand experts.

          Available for use by both Members and non-members of The Executive Centre, our spaces are a blank canvas for you, designed to ensure any event you host is a success.</p>
      </div>
      <img src="https://images.unsplash.com/photo-1596495578065-6e0763fa1178?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="me">
    </div>
 
  <footer class="footer">
    <!-- <div class="copy">© 2022 Developer</div> -->
    <div class="bottom-links">
      <div class="links">
        <span>For More Info</span>
        <span><b>Contact us</b></span>
        <div class="contact">       
           <p class="fa fa-envelope p-2"> conferenceroombooking@rubixtek.com</p>
        </div>
      </div>
      </div>
      <div class="bottom-links">
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>



<app-footer></app-footer>

