<app-navheader></app-navheader>
<div class="container">
    <div class="col sm-3">
        <div class="card">
            <div class="row">
                <div class="col lg-6">
                    <img src="../../../assets/confirmed.png" class="meetimage">
                </div>
                <div class="col lg-6">
                    <form [formGroup]="bookSlotForm">
                        <div class="p-3">
                            <div class="row g-0 ">
                                <div class="col text-center p-2 mb-3 fw-bold "
                                    style="background-color: #9e5aa3; border-radius:5px ;">
                                    <span class="fs-3" style="color:whitesmoke;">Book Slot</span>
                                </div>
                            </div>
                            <!-- <div class="form-group pt-3">
                                <label for="refId" class="form-label">Reference Id:</label>
                                <div class="input-field">
                                    <input formControlName="refId" type="text" placeholder="Reference Id">
                                </div>
                            </div> -->
                            <div class="form-group pt-3">
                                <label for="employeeId" class="form-label">Employee Id:</label>
                                <div class="input-field">
                                    <input formControlName="employeeId" type="text" placeholder="Employee Id">
                                </div>
                            </div>

                            <div class="form-group pt-3">
                                <label for="employeeName" class="form-label">Employee Name:</label>
                                <div class="input-field">
                                    <input formControlName="employeeName" type="text" placeholder="Employee Name">
                                </div>
                            </div>
                            <!-- <div class="form-group pt-3">
                                <label for="department" class="form-label">Department:</label>
                                <div class="input-field">
                                    <input formControlName="department" type="text" placeholder="Department">
                                </div>
                            </div> -->

                            <div class="form-group pt-3">
                                <label for="department"  class="form-label">Department:</label>
                                <select class="form-select" formControlName="department" >
                                    <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let dep of departments">{{dep}}</option>  
                                </select>
                            </div>


                            
                            <div class="form-group pt-3">
                                <label for="floor" class="form-label">Floor:</label>
                                <select class="form-select" formControlName="floor" >
                                    <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let floor of floors">{{floor}}</option> 
                                        </select>
                            </div>
                            
                            <div class="form-group pt-3">
                                <label for="roomNo" class="form-label">Room No:</label>
                                <select class="form-select" formControlName="roomNo" >
                                    <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let rooms of roomNumber">{{rooms}}</option> 
                                        </select>
                            </div>


                            <div class="form-group pt-3">
                                <label for="seatNo"  class="form-label">Needed Seat:</label>
                                <select class="form-select" formControlName="seatNo" >
                                    <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let seat of seatNumber">{{seat}}</option>  
                                </select>
                            </div>
                            <div class="form-group pt-3">
                                <label for="date" class="form-label">Date:</label>
                                <input type="datetime-local" name="input" ng-model="value"
                                placeholder="yyyy-MM-ddTHH:mm:ss" min="2010-01-01T00:00:00" max="2025-12-31T00:00:00" required />                        
                                    </div>

                            <div class="form-group pt-3">
                                <label for="fromTime" class="form-label">fromTime</label>
                                <div class="input-field">
                                    <input formControlName="fromTime" type="text" placeholder="fromTime">
                                </div>
                            </div>

                            <div class="form-group pt-3">
                                <label for="toTime" class="form-label">toTime</label>
                                <div class="input-field">
                                    <input formControlName="toTime" type="text" placeholder="toTime">
                                </div>
                            </div>


                            
                            <!-- <div class="form-group pt-3">
                                <label for="department" class="form-label">Department:</label>
                                <select class="form-select" aria-label="Default select example" >
                                    <option value="" disabled selected>--Select--</option>
                                    <option value="1">Glamz</option>
                                    <option value="2">Halliburton</option>
                                    <option value="3">Servicenow</option>
                                    <option value="4">Ezhour</option>
                                    <option value="5">HR</option>
                                    <option value="6">Project Manager</option>
                                    <option value="7">Finance</option>
                                </select>
                            </div>
                            
                            <div class="row">
                                <div class="col mb-3">
                                    <div class="form-group pt-3">
                                        <label for="floor" class="form-label">Floor:</label>
                                        <select class="form-select" aria-label="Default select example"
                                            (change)="onSelect($event)">
                                            <option value="" disabled selected>--Select--</option>
                                            <option *ngFor="let floors of floor" value={{floors.id}}>{{floors.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col mb-3">
                                    <div class="form-group pt-3">
                                        <label for="roomNo" class="form-label">Room No:</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="" disabled selected>--Select--</option>
                                            <option *ngFor="let rooms of room" value={{rooms.id}}>{{rooms.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group ">
                                <label for="seatno" class="form-label">Seats No:</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option value="" disabled selected>--Select--</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                            
                            <div class="form-group pt-3">
                                <label for="date" class="form-label">Date:</label>
                                <input type="date" class="form-control" id="date">
                            </div>
                            
                            <div class="row">
                                <div class="col mb-3">
                                    <div class="form-group pt-3">
                                        <label for="fromTime" class="form-label">Check-In:</label>
                                        <input type="time" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="col mb-3">
                                    <div class="form-group pt-3">
                                        <label for="toTime" class="form-label">Check-Out:</label>
                                        <input type="time" class="form-control" style="width:100%">
                                    </div>
                                </div>
                                
                            </div> -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6 ">
                                        <div class="d-grid">
                                            <div class="button-box">
                                                <button type="submit" (click)="slotRegister()" class="confirm">Confirm
                                                    Slot</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>